<!DOCTYPE html>
{% extends "index.html" %}

{% block content %}
    <h1>About</h1>
    </p1>Blame It On The Weather is a Web App aimed at Pet Product Companies. By correlating weather levels and tweets using the word
            'Climate Change', weatherDogs can predict at what time marketing would be most effective for your business</p1>

    <h1>The Project</h1>
    </p1>This WebApp corresponds to part 2 of the Sensing and IoT coursework. It combines weather data collected from the DarkSky API and from tweets collected directly from the Twitter API on which sentiment analysis was performed. Finally different types of data analysis are performed.</h1>
    </p1>The WebApp is structured as follows:
        <ul>
            <li>Timeline: This is a straightforward, interactive visualisation of the collected data.</li>
            <li>Analysis: The data collected is statistically analysed. This may be of use to .</li>
            <li>Prediction: Want to know when to market your product? weatherDogs will predict whether your selected time
                will be successful. </li>
            <li>Insights: Some deeper insights can be drawn from looking at the other words in the Tweets, this page is a
                word cloud showing the most commonly used words.</li>
        </ul>
    </p1>
{% endblock %}
