<!DOCTYPE html>
{% extends "index.html" %}

{% block content %}
    <h1>Analysis</h1>
    </p1>The data can be normalised and looked at side by side. The correlation between the Apparent Temperature and Twitter Count is
    {{corr_weather_twitter}}. The correlation between the Weather Level and Tweet Sentiment is {{corr_weather_senti}}.</p1>

    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css" rel="stylesheet">


    {{ the_div_1|safe }}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
    {{ the_script_1|safe }}

    <h2>Autocorrelation</h2>
    </p1>By completing autocorrelation (ACF), the correlation of the series with itself at past lags can be measured.
    Key points of correlation are displayed every 24 hours for the Weather data and every 12 hours for the Twitter data . </p1>


    {{ the_div_2|safe }}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
    {{ the_script_2|safe }}

    <h2>Seasonality of the data</h2>
    <p1>The time series can be broken down into their components; trend, seasonality and noise. .</p1>
    <!--<h3 style="text-align:left;">  Weather-->
    <!--<span style="float:center;"> Twitter </span>-->
    <!--<span style="float:right;"> Tweet Sentiment </span></h3>-->

    <!--<h3><center>Weather|Twitter</center></h3>-->

    {{ the_div_3|safe }}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
    {{ the_script_3|safe }}

{% endblock %}
