<!DOCTYPE html>
{% extends "index.html" %}

{% block content %}
    <h1>Home</h1>
    </p1>Welcome to Blameit!</p1>

    <link rel="stylesheet" href="/static/css/home.css">

    <div class="split right">
        <!-- The video -->
        <div class="video">
            <iframe width="600" height="337.5" src="/static/Climate_Change.mp4" frameborder="0">
            </iframe>
        </div>

      <div class="top centered">
        <img src="/static/Logo.jpg" alt="BlameitLogo" border="1px">

      </div>
    </div>

    <div class="split left">
      <div class="centered">
        <h4><font color="white">BlameIt is a Web App aimed at Pet Product Companies. By correlating light levels and tweets using the word
            <font color="red">'Climate Change'</font>, Blameit can predict at what time marketing would be most effective for your business. </h4></font>
      </div>
    </div>

{% endblock %}
